.article-header {
    position: relative;
  }
  .article-title {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: white;
    margin: 0;
  }
  .article-content {
    padding-top: 20px;
    text-align: justify;
  }
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #1C2331;
    border-color: #1C2331;
}