.gallery {
  column-count: 3;
  column-gap: .6em;
}

.item {
  display: inline-block;
  margin: 0 0 .3em;
  width: 100%;
}


@media (max-width: 991px) {
	.gallery {
	  column-count: 2;
	  column-gap: .3em;
	}

	.item {
	  display: inline-block;
	  margin: 0 0 .3em;
	  width: 100%;
	}
}

@media (max-width: 575px) {
	.gallery {
	  column-count: 1;
	  column-gap: .3em;
	}

	.item {
	  display: inline-block;
	  width: 100%;
	}
}